{% extends 'realty/main.html' %}
{% block main_section %}
    <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Тип</th>
            <th scope="col">Цена</th>
            <th scope="col">Адрес</th>
          </tr>
          </thead>
          <tbody>
    {% for item in items %}
        <tr>
            <td>{{ item.type }}</td>
            <td>{{ item.cost }}</td>
            <td>{{ item.address }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock main_section %}
